@mixin corporateBase($accent) {
  html, body {
    margin-top: 50px;

    background-color: #1d1d1d;
    color: #FFFFFF;

    div, p, a, section {
      font-family: Arial, Verdana, Helvetica, sans-serif;
    }

    hr {
      border-color: $accent;
    }
  }


  details {
    margin: 10px 0;

    summary {
      font-size: 20px;
      line-height: 22px;

      overflow: hidden;
      text-overflow: ellipsis;

      outline: none;
      border: none;
      border-bottom: 1px transparent solid;

      padding: 5px;

      cursor: pointer;

      transition: border-bottom .5s, background-color .2s;

      &:hover {
        border-bottom: 1px $accent solid;
        background-color: #1d1d1d;
      }
    }

    &[open] {
      summary {
        margin-bottom: 10px;
      }
    }

    div, p {
      margin-left: 7px;
    }
  }
}