@mixin corporateInputs($accent) {

  input[type="text"], div[contenteditable], textarea {
    border: none;
    outline: none;

    max-width: 100%;

    border-bottom: 1px solid transparent;
    padding: 10px 10px 7px;

    font-size: 16px;

    color: $accent;

    background-color: #494949;

    transition: border .1s;

    &:hover, &:focus {
      border-bottom: 1px solid $accent;
    }
  }

  textarea {
    min-height: 150px;
  }

  button {
    border: none;
    outline: none;

    padding: 10px 20px;

    font-size: 18px;
    color: #FFFFFF;

    background-color: #494949;

    transition: background-color .2s;

    &:hover {
      background-color: $accent;
    }
  }



  select {
    border: none;
    outline: none;

    max-width: 100%;

    border-bottom: 1px solid transparent;
    padding: 7px 7px 5px;

    font-size: 16px;

    color: $accent;

    background-color: #494949;

    transition: border .1s;

    &:hover {
      border-bottom: 1px solid $accent;
    }
  }

}