@mixin corporateMenu($accent) {
  .menu {
    position: fixed;
    display: flex;

    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 62px;

    padding: 7px 7px 10px 7px;

    background-color: $accent;

    box-sizing: border-box;

    .left, .right {
      flex-grow: 1;
      flex-basis: 0;
    }

    .right {
      text-align: right;
    }
  }
}