@import "spinner";

@import "corporate";

@include corporateDesign(#3498db);

.menu .middle .title {
    font-size: 40px;
    font-weight: bold;
}


.content {
    position: absolute;

    top: 62px;
    bottom: 0;
    left: 0;
    right: 0;

    padding-top: 30px;

    overflow-y: auto;
}

section h1 {
    margin-top: 10px;
    margin-bottom: 20px;

    text-align: center;
}

section {
    background-color: #333333;

    max-width: 900px;

    width: 90%;

    margin: 20px auto;
    padding: 10px;

    box-sizing: border-box;
}

section.save {
    background-color: transparent;
    text-align: center;
    box-shadow: none;
}

label {
    display: block;
    margin: 5px 0;
}

textarea {
    width: 100%;
    max-width: 100%;
}

.babel__options, .webpack__options {
    display: none;
}


.key-value--wrapper {
    display: flex;

    padding: 5px 0;

    align-items: center;


    &.key-value--text .key-value--value {
        text-align: right;
    }

    .key-value--key {
        flex-basis: 0;
        flex-grow: 1;

        font-size: 20px;
    }

    .key-value--value {
        flex-basis: 0;
        flex-grow: 2;
    }


    &.key-value--textarea {
        display: block;

        .key-value--key {
            margin: 20px 0 5px;
        }
    }
}

.checkbox--wrapper {
    display: flex;

    align-items: center;

    label {
        font-size: 20px;
        padding-left: 10px;
    }
}

.key-value--element {
    .key-value--value input {
        display: block;
        width: 100%;

        margin: 5px 0;
    }
}