
.spinner--container {
  display: none;
}

.spinner {
  position: fixed;

  top: 50%;
  left: 50%;

  margin-top: -76px;
  margin-left: -76px;

  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.spinner--text {
  font-size: 26px;

  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;

  text-align: center;
}

.spinner--overlay {
  background-color: rgba(0, 0, 0, 0.6);

  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}